<div id="<%= dom_id resturant %>">
  <p>
    <strong>Name:</strong>
    <%= resturant.name %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= resturant.genre %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= resturant.description %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= resturant.location %>
  </p>

  <p>
    <strong>Glutenfree:</strong>
    <%= resturant.glutenfree %>
  </p>

  <p>
    <strong>Vegan:</strong>
    <%= resturant.vegan %>
  </p>

</div>
