<p style="color: green"><%= notice %></p>

<h1>Resturants</h1>

<div id="resturants">
  <% @resturants.each do |resturant| %>
    <%= link_to image_tag(resturant.image_url, class: "resturant__image"), resturant %>
    <%= render resturant%>
    <p>
      <%= link_to "Show this resturant", resturant %>
    </p>
  <% end %>
  
</div>

<%= link_to "New resturant", new_resturant_path %>
