<div class="food-item__content" id="<%= dom_id food_item %>">
  
  <%= link_to image_tag(food_item.image_url, class: "food-item__image-menu"), food_item %>
  <p>
    <strong>Name:</strong>
    <%= food_item.name %>
  </p>
  <p>
    <strong>FoodType:</strong>
    <%= food_item.foodtype %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= food_item.description %>
  </p>

  <p>
    <strong>Ingrediants:</strong>
    <%= food_item.ingrediants %>
  </p>

  <p>
    <strong>Resturant:</strong>
    <%= food_item.resturant %>
  </p>

</div>
